body{
    background-color: #082C5B;
}
#welcome{
    color: white;
    font-family: "Roboto Mono";
    font-size: 20px;
    width: 20px;

    position: relative;
    top: -1000px;
    left: 620px;
}
#to{
    color: white;
    font-family: "Roboto Mono";
    font-size: 20px;
    width: 20px;

    position: relative;
    top: -1000px;
    left: 653px;
}
#portfolio{
    color: white;
    font-family: "Roboto Mono";
    font-size: 20px;
    width: 20px;

    position: relative;
    top: -800px;
    left: 612px;
}
#logo{
    max-width: 100%;
    height: auto;
    width: auto\9;
}
/*
   Coolergate Part
*/
#coolergate{
    width: 115px;
    height: 110px; 

    position: relative;

    top: -130px;
    left: 10px;

    animation: Coolergate;
    animation-duration: 1s;
}
#text_hitbox_coolergate{
    width: 500px;
    height: 120px; 

    position: relative;

    top: -251px;
    right: -48px;

    animation: Coolergate_Text;
    animation-duration: 1.5s;

}
/* 
   Animations
*/
@keyframes Coolergate {
    from{
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0);
    }
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes Coolergate_Text {
    from{
        transform: translateX(-800px);
    }
    to {
        transform: translateX(0);
    }
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes Slate {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0px);
    }
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes Slate_Text{
    from {
        transform: translateX(800px);
    }
    to {
        transform: translateX(0px);
    }
}

/*
   Slate Part
*/
#slate {
    width: 115px; 
    height: 110px;

    position: relative;

    top: -460px;
    left: 1200px;

    animation: Slate;
    animation-duration: 2s;
}
#text_hitbox_slate{
    width: 520px; 
    height: 125px; 

    position: relative;

    top: -585px;
    left: 760px;

    animation: Slate_Text;
    animation-duration: 2s;
}
/*
   Coolergate Text Part
*/

#coolergate_name{
    color: white;
    font-family: "Roboto Mono";
    font-size: 9px;
    width: 200px;

    position: relative;
    top: -370px;
    left: 140px;

    animation: coolergate_name;
    animation-duration: 4s;

}
#coolergate_language{
    color: white;
    font-family: "Roboto Mono";
    font-size: 9px;
    width: 280px;

    position: relative;
    top: -366px;
    left: 154px;

    animation: coolergate_language;
    animation-duration: 4s;
}
#coolergate_age{
    color: white;
    font-family: "Roboto Mono";
    font-size: 9px;
    width: 50px;

    position: relative;
    top: -358px;
    left: 165px;

    animation: coolergate_age;
    animation-duration: 4s;


}
#coolergate_skills{
    color: white;
    font-family: "Roboto Mono";
    font-size: 9px;
    width: 350px;

    position: relative;
    top: -330px;
    left: 140px;

    animation: coolergate_skills;
    animation-duration: 4s;
}
#coolergate_hours{
    color: white;
    font-family: "Roboto Mono";
    font-size: 9px;
    width: 380px;

    position: relative;
    top: -368px;
    left: 156px;

    animation: coolergate_hours;
    animation-duration: 4s;

}
/* 
   Coolergate Text Part Animations
*/
@keyframes coolergate_name {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes coolergate_language {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes coolergate_age {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes coolergate_skills {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes coolergate_hours {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
/*
   Slate Text Part Animations
*/

/*
   Slate Text Part
*/
#slate_name{
    color: white;
    font-family: "Press Start 2P";
    font-size: 6px;
    width: 130px;

    position: relative;
    top: -704px;
    left: 1063px;

    animation: coolergate_name;
    animation-duration: 4s;
}
#slate_language{
    color: white;
    font-family: "Press Start 2P";
    font-size: 6px;
    width: 165px;

    position: relative;
    top: -693px;
    left: 1015px;

    animation: coolergate_name;
    animation-duration: 4s;
}
#slate_age{
    color: white;
    font-family: "Press Start 2P";
    font-size: 6px;
    width: 60px;

    position: relative;
    top: -676px;
    left: 1125px;

    animation: coolergate_name;
    animation-duration: 4s;
}
#slate_skills{
    color: white;
    font-family: "Press Start 2P";
    font-size: 6px;
    width: 360px;

    position: relative;
    top: -660px;
    left: 836px;

    animation: coolergate_name;
    animation-duration: 4s;
}
#slate_hours{
    color: white;
    font-family: "Press Start 2P";
    font-size: 6px;
    width: 430px;

    position: relative;
    top: -650px;
    left: 782px;

    animation: coolergate_name;
    animation-duration: 4s;
}

