header h1 {
	font-family: "Cascadia Code";
	font-size: 50;
}

header h2 {
	font-family: "Cascadia Code";
	font-size: 24;
	margin-left: 40px;
}

header {
	display: flex;
	padding-top: 30px;
	margin-bottom: 30px;
	background-color: black;
}

#title {
	margin-left: 50px;
	flex-direction: column;
	line-height: 5px;
}

/* -------------------------------------------------------------------------- */
/*                               Social buttons                               */
/* -------------------------------------------------------------------------- */
#social-buttons-right {
	width: 100%;
	padding-right: 40px;
	padding-left: 40px;
	display: flex;
	align-items: end;
}

#social-buttons-right #social-buttons-space {
	width: 100%;
}

#social-buttons-right ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	align-content: flex-end;
}

#social-buttons-right ul a {
	text-decoration: none;
	color: wheat;
	font-family: "poppins";
	font-size: 25px;
	font-weight: 600;
	padding: 10px;
}

#social-buttons-right ul a:hover {
	text-decoration: underline;
	cursor: cell;
}

/* -------------------------------------------------------------------------- */
/*                              About us buttons                              */
/* -------------------------------------------------------------------------- */
#about-us-buttons {
	width: 100%;
	display: flex;
}

#about-us-buttons ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	align-content: flex-end;
}

#about-us-buttons ul a {
	text-decoration: none;
	color: wheat;
	font-family: "poppins";
	font-size: 25px;
	font-weight: 600;
	padding: 10px;
}