body {
	margin: 0 auto;
	background-color: rgb(50, 50, 50);
	color: #F7EFE5;
}

aboutus {
	padding-top: 20px;
	padding-left: 10px;
}

aboutus h2 {
	padding-left: 40px;
}

aboutus ul {
	list-style-type: none;
}

aboutus ul li {
	text-decoration: none;
	color: white;
	font-family: "poppins";
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
}

phrase1 {
	font-family: "poppins";
	font-weight: 600;
	font-size: 35;

	color: #FD5825;
}

h2 {
	font-family: "poppins";
	font-weight: 500;
	font-size: 25;

	color: #FFFFFF;
}

phrase1 s {
	color: crimson;
}

.game-link {
	font-family: "poppins";
	font-weight: 600;
	font-size: 20;
	text-decoration: none;

	color: #25a7fd;
}

.game-link:hover {
	color: #FD5825;
	text-decoration: underline;
}

gameshowcase {
	overflow: hidden;
	display: flex;
	padding-top: 100px;
}

gameshowcase .game-showcase-mask {
	mask-image: url('../assets/images/luminance-mask.png');
	mask-mode: luminance;
	mask-repeat: no-repeat;
	mask-size: calc(100% - 30px);
}

separator {
	overflow: hidden;
	display: flex;
	padding-top: 1cm;
	background-color: black;
}

#meet-gang {
	width: 100%;
	padding-right: 40px;
	padding-left: 40px;
	display: flex;
	align-items: end;
}